@font-face {
    font-family: 'Audiowide';
    src: url(fonts/Audiowide/Audiowide-Regular.ttf);

}

@font-face {
    font-family: 'Merriweather';
    src: url(fonts/MerriweatherSans-Regular.ttf);
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url(fonts/LEMONMILK-Bold.otf);
}

:root {
    --cinza-fundo: #2e2e2e;
    --cinza-escuro: #262626;
    --amarelo-paleta: #F2CC0C;
    --azul-paleta: #91A6FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    height: 100vh;
    
    background: rgb(36,36,36);
    background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(70,70,70,1) 64%, rgba(103,103,103,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
}

.container-grid{
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

#sobre h2 {

    position: relative;
    bottom: 50px;

}

header {
    height: 125px;
    background-color: #2e2e2e;
}

header div.container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.img-favicon {
    width: 120px;
}

header .container-grid button {
    display: none;
}

.img-logo {
    width: 50%;
    height: 100%;
    
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;

    font-family: 'Audiowide';
    font-size: 24px;
    
    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 1000ms ease;
}

.menu a:hover {
    text-decoration-color: var(--amarelo-paleta);
    color: var(--amarelo-paleta);

}

.conteudo-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-banner p{
    color: white;
    font-family: 'Lemon-Milk';
    font-size: 65px;
    padding: 55px;
    
}

.conteudo-banner .GF {
    color: var(--amarelo-paleta);
}
.conteudo-banner .Fuse {
    color: var(--azul-paleta);
}

#sobre {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    padding: 100px 25%;
    margin: 0;
}

#sobre h2 {
    font-family: 'Audiowide';
    color: white;
    font-size: 28px;

    /* padding: 35px; */
}

#sobre p {
    font-family: 'Merriweather';
    font-size: 17px;
    color: white;

    text-align: left;
}
 #portfolio {
    margin-bottom: 120px;

    position: relative;

 }

 #portfolio .banner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
 }

 #cases {
    text-align: center;

    padding-bottom: 100px;

    height: 600px;

 }

 #cases h2 {
    font-family: 'Audiowide';
    color: white;
    font-size: 28px;

    margin-bottom: 70px;
 }

 .container-cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    overflow-x: auto;
 }

 .card {
    height: 450px;
    width: 300px;

    color: white;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    flex-grow: 0;
    flex-shrink: 0;

    background-color: var(--cinza-fundo);
    border-radius: 15px;

 }

 .card h3 {
    color: white;
    font-family: 'Audiowide';
    margin-bottom: 10px;

 }

.card p {
    font-family: 'Audiowide';
    font-size: 16px;

    text-align: left;

    color: white;
}

#banner-galery {
    margin-bottom: 70px;

    position: relative;

}

#banner-galery .galery {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
} 

#galeria {
    display: flex;
    justify-content: unset;
    gap: 20px;
    justify-content: center;
    padding: 3%;

}

#galeria img {
    width: 30%;

}

#galeria .coluna {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;

}

#galeria .coluna img {
    width: 100%;
    height: 100%;

}

#galeria .coluna2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;

}

#galeria .coluna2 img {
    width: 100%;
    height: 100%;
 
}

#parcerias-banner .parcebanner {
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
}

.card-prc {
    height: 465px;
    width: 300px;

    color: white;

    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;

    background-color: var(--cinza-fundo);
    border-radius: 15px;
    margin-bottom: 50px;
}

.card-prc h2 {
    font-family: 'Audiowide';
    color: white;
    padding: 3px;
}

.card-prc p {
    font-family: 'Merriweather';
    padding: 2px;
    color: white;
}


.card-prc img {
    width: 295px;
}

#depoimentos img {
    height: 100%;
    width: 100%;
}

#depoimentos2 .card-dep {
    height: 360px;
    width: 250px;

    color: white;

    margin-top: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;

    background-color: var(--cinza-fundo);
    border-radius: 15px;

    margin-bottom: 50px;
}

.card-dep h2 {
    font-family: 'Audiowide';
    align-items: left;
}

.card-dep p {
    font-family: 'Merriweather';
    align-items: left;
}

#linha .linhas {
    background-color: #262626;
    width: 100%;
    height: 5px;

    margin-bottom: 50px;
}

#inscrever {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#inscrever h2 {
    color: white;
    font-family: 'Audiowide';
    font-size: 30px;
}

.campo {
    width: 60%;

    margin-bottom: 50px;

    gap: 20px;

    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo label {
    font-family: 'Merriweather';
    color: white;
    font-size: 13px;
}

.campo input {
    height: 40px;

    color: white;
    background-color: var(--cinza-fundo);
    opacity: 90%;

    border: none;
    border-radius: 7px;

    outline: none;

    text-indent: 10px;

    font-family: "Merriweather";
    font-size: 17px;
}

.campo input:focus {
    outline: 2px solid var(--amarelo-paleta);

}

.campo input:focus, .campo-textarea textarea:focus {
    outline: 2px solid var(--amarelo-paleta);
}

#inscrever button {
    height: 40px;
    width: 15%;

    position: relative;
    bottom: 50px;

    font-family: "Audiowide";
    font-size: 17px;
    font-weight: 600;

    color: #262626;
    background-color: var(--amarelo-paleta);

    border: none;
    border-radius: 4px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 500ms ease ;
}

#inscrever button:hover {
    background-color: #968A04;

    cursor: pointer;
}

#footer-rede {
    display: flex;
    

}

footer svg.iconic {
    width: 75px;
    height: 75px;

}

footer .telefone {
    width: 33.3%;
    height: 500px;
    border: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .telefone h2 {
    font-family: 'Audiowide';
    color: white;
}

footer .telefone p {
    font-family: 'Merriweather';
    color: white;
}

footer .email {
    width: 33.3%;
    height: 500px;
    border: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .email h2 {
    font-family: 'Audiowide';
    color: white;
}

footer .email p {
    font-family: 'Merriweather';
    color: white;
}

footer .redes {
    width: 33.3%;
    height: 500px;
    border: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .redes h2 {
    font-family: 'Audiowide';
    color: white;
}

footer .redes p {
    font-family: 'Merriweather';
    color: white;
}

footer .mini {
    width: 25px;
    height: 25px;

    display: flex;
    
}

footer .rows {
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}

@media screen and (max-width: 1360px) {
    header {
        position: relative;
        margin-bottom: 0%;

    }
    
    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    .container-cards {
        gap: 20px;
        height: 550px;
        

    }

    .card {

        height: 450px;

    }
        
    #banner-galery .galery {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 50px;
    } 

}

@media screen and (max-width: 940px) {
    .conteudo-banner p{
        font-size: 45px;        
    }
}

@media screen and (max-width: 855px) {
    header .container-grid button {
        fill: white;
        display: unset;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: #000000e0;

        position: absolute;
        top: 165px;
        right: 0px;

    }
}

@media screen and (max-width: 780px) {
    #portfolio {
        margin-bottom: 80px;
        margin-top: 55px;
    
        position: relative;
    
     }
}

@media screen and (max-width: 725px) {
    .conteudo-banner p{
        font-size: 25px;        
    }

    #portfolio {

        margin-top: 0;

    }


}

@media screen and (max-width: 640px) {

    #footer-rede {

        flex-direction: column;


    }

    footer .email {
        width: 100%;
        height: 300px;
        border: solid;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .telefone {
        width: 100%;
        height: 300px;
        border: solid;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    footer .redes {
        width: 100%;
        height: 300px;
        border: solid;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}


@media screen and (max-width: 505px) {

    .conteudo-banner {
        flex-direction: column;
    }

    .conteudo-banner img {

        width: 100%;

    }

}


@media screen and (max-width: 470px) {
    #sobre p {
        margin-bottom: 85px;
    }

    #inscrever button {
        width: 25%;
    }
}

@media screen and (max-width: 440px) {

    #sobre p {
        margin-bottom: 245px;
        height: 50%;
    }
}

@media screen and (max-width: 380px) {
    #portfolio .banner {
        margin-top: 220px;

    }
   
}